<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li>About</li>
            <li>Anatomy</li>
            <li>Use Cases</li>
        </ul>
    </div>
    <div class="about">
        In this micro-component module I've set out to lay the foundational understanding of a form really is with only html and css involved

        In doings so I may better javascript may influence and control the intergration of such components in various use cases.

        By reducing commonly used components down to its simplest use case I hope to abstract much of the comonalities into webcomponents that are easy to create and maintain.
    </div>
    <div class="anatomy">
        <div class="breadcrumb">
            <ul>
                <li>Title</li>
                <!-- 
                    options
                Logo | Picture | Figure | Title + Description 
                 -->
                <li>Input</li>
                <!-- 
                    options
                Text | Numbers | Password | Checkbox | Dropdown | Select Dropdown | Dataset Dropdown + Dependent/Independent States
                 -->
                <li>Alt Routes</li>
                <!-- 
                    options
                Home | Back Link | SignUp/SignIn | Cancel | Exit | Form Series Navigation/Accordian
                 -->
                <li>Pre Requesites</li>
                <!-- 
                    options
                Terms of Service | Subscribe | Remember | Toggle | Add-On
                 -->
                <li>Submit</li>
                <!-- 
                    options
                Inline/Proxy Pass | Redirect | Refresh | JIT/ Validation | API call
                 -->
            </ul>
        </div>
        <div class="breakdown">
            <!-- 
            Material IO Cloned Interactive Component 
            - Full Screen | Tablet | Mobile -

            Configuration Sidebar
            - Options -

            -->
        </div>
        <div class="settings">
            <!-- 
                Themes
                  Hand-Crafted (Swipe Gallery)
                  Semantic (Tabular Navigation)
                  Material (Interactive Demo)
                
                Colors 
                  Night
                  Day
                  Brand
             -->
        </div>
    </div>
</body>
</html>