<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="component-wrapper">

    </div>
    <div class="toggle-menu">
        <button class="on">active</button>
        <button class="off">deactivate</button>
        <button class="show">show</button>
        <button class="hide">hide</button>
        <button class="slideLeft">slide left</button>
        <button class="slideRight">slide right</button>
    </div>
</body>
</html>