<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="grid modular">

        <div class="three-panel"></div>
        <!-- 
            .eShape
            .tShape
            .lShape [-r,-l]
         -->
        <div class="four-panel"></div>
        <!-- 
            .sliding
            .nested
        -->
        <div class="five-panel"></div>
        <!-- 
            .padded-triple
            .golden [-l,-r,-t,-b]
         -->
         <div class="nine-panel">
             <!-- 
                 .rule-of-thirds [-h,-v]
              -->
         </div>
        <div class="eight-panel"></div>
        <!-- -->
        <div class="sixteen-panel"></div>
        <!--  -->
    </div>
</body>
</html>