<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Columns</title>
    <link rel="stylesheet" href="/css/gridspace.css">
</head>
<body>
    <div class="grid two-col">
        <div class="col-1 col">
            <!--  -->
        </div>
        <div class="col-2 col">
            <!--  -->
        </div>
    </div>
    <div class="grid three-col">
        <div class="col-1 col">
            <!--  -->
        </div>
        <div class="col-2 col">
            <!--  -->
        </div>
        <div class="col-3 col">
            <!--  -->
        </div>
    </div>
    <div class="grid fo-col">
        <div class="col-1 col">
            <!--  -->
        </div>
        <div class="col-2 col">
            <!--  -->
        </div>
        <div class="col-3 col">
            <!--  -->
        </div>
        <div class="col-4 col">
            <!--  -->
        </div>
    </div>
    <div class="grid six-col">
        <div class="col-1 col">
            <!--  -->
        </div>
        <div class="col-2 col">
            <!--  -->
        </div>
        <div class="col-3 col">
            <!--  -->
        </div>
        <div class="col-4 col">
            <!--  -->
        </div>
        <div class="col-5 col">
            <!--  -->
        </div>
        <div class="col-6 col">
            <!--  -->
        </div>
    </div>
    <div class="grid eight-col">
        <div class="col-1 col">
            <!--  -->
        </div>
        <div class="col-2 col">
            <!--  -->
        </div>
        <div class="col-3 col">
            <!--  -->
        </div>
        <div class="col-4 col">
            <!--  -->
        </div>
        <div class="col-5 col">
            <!--  -->
        </div>
        <div class="col-6 col">
            <!--  -->
        </div>
        <div class="col-7 col">
            <!--  -->
        </div>
        <div class="col-8 col">
            <!--  -->
        </div>
    </div>
    <div class="grid twelve-col">
        <div class="col-1 col">
            <!--  -->
        </div>
        <div class="col-2 col">
            <!--  -->
        </div>
        <div class="col-3 col">
            <!--  -->
        </div>
        <div class="col-4 col">
            <!--  -->
        </div>
        <div class="col-5 col">
            <!--  -->
        </div>
        <div class="col-6 col">
            <!--  -->
        </div>
        <div class="col-7 col">
            <!--  -->
        </div>
        <div class="col-8 col">
            <!--  -->
        </div>
        <div class="col-9 col">
            <!--  -->
        </div>
        <div class="col-10 col">
            <!--  -->
        </div>
        <div class="col-11 col">
            <!--  -->
        </div>
        <div class="col-12 col">
            <!--  -->
        </div>
    </div>
</body>
</html>