<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manuscript</title>
    <link rel="stylesheet" href="/css/gridspace.css">
</head>
<body>
    <div class="grid manuscript">
        <!-- 
            default
            mobile (no margin/padding/header)
         -->
        <div class="margin margin-tl">
            <!--  -->
        </div>
        <div class="margin margin-tr">
            <!--  -->
        </div>
        <div class="header">
            <!--  -->
        </div>
        <div class="padding-left">
            <!--  -->
        </div>
        <div class="content">
            <!--  -->
        </div>
        <div class="padding-right">
            <!--  -->
        </div>
        <div class="footer"></div>
        <div class="margin margin-bl">
            <!--  -->
        </div>
        <div class="margin margin-br">
            <!--  -->
        </div>
    </div>

    .grid
</body>
</html>