<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cal-S</title>
    <link rel="stylesheet" href="calendarSide.css">
</head>
<body>
    <button>Show Calendar</button>
    <div class="calendar__modal-1 show">
        <div class="calendar">
            <div class="header month-display"><span>January</span></div>
            <div class="days">
                <div class="dayNames">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="daySquares">
                    <div class="day"></div>
                </div>
            </div>
            <div class="tasks"></div>
        </div>
    </div>
</body>
<script src="calendarSide.js"></script>
</html>