<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Assets/sass/css/darkTheme.css">
</head>
<body>
    <div class="darkTheme-nav">
        <div class="navbar-container">
            <nav>
                <div class="nav-logo">

                </div>

                <ul class="nav-links">
                    <li class="nav-item">
                        <a href="" class="list-link"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
</body>
</html>