<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/sass/css/AOT.css">
</head>
<body>

    <div class="form">
    <span class="alt">Have an account? <a href="#">Sign in</a></span>

        <div class="form-header">
            <span class="title">Welcome to AOT</span>
            <span class="sub-title">Blandit libero volutpat sed cras ornare arcu dui. Accumsan in nisl nisi scelerisque eu.</span>
        </div>
        <div class="inp-group">
            <input type="text" class="inp" placeholder="example@mail.com">
            <input type="text" class="inp" placeholder="6+ strong character">
            <button>Create an account</button>
        </div>
        <div class="divider">
            Or sign up with
        </div>
        <div class="btn-group">
            <span class="btn">
                <img src="/Assets/img/png/img/google-color.png" alt="" class="google">
                </span>
            <span class="btn">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" height="25px" width="25px" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:url(#SVGID_1_);}
                    .st1{fill:#FFFFFF;}
                </style>
                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-277.375" y1="406.6018" x2="-277.375" y2="407.5726" gradientTransform="matrix(40 0 0 -39.7778 11115.001 16212.334)">
                    <stop offset="0" style="stop-color:#0062E0"/>
                    <stop offset="1" style="stop-color:#19AFFF"/>
                </linearGradient>
                <path class="st0" d="M16.7,39.8C7.2,38.1,0,29.9,0,20C0,9,9,0,20,0s20,9,20,20c0,9.9-7.2,18.1-16.7,19.8l-1.1-0.9h-4.4L16.7,39.8z"/>
                <path class="st1" d="M27.8,25.6l0.9-5.6h-5.3v-3.9c0-1.6,0.6-2.8,3-2.8h2.6V8.2c-1.4-0.2-3-0.4-4.4-0.4c-4.6,0-7.8,2.8-7.8,7.8V20  h-5v5.6h5v14.1c1.1,0.2,2.2,0.3,3.3,0.3c1.1,0,2.2-0.1,3.3-0.3V25.6H27.8z"/>
            </svg>
            </span>
            <span class="btn">
                <img src="/Assets/img/png/img/apple-black.png" alt="" class="apple">
            </span>
        </div>    
    </div>
    <div class="hero">
        <div class="hero-card">
            <span class="hero-text">Make a Dream</span>
            <img src="/Assets/img/png/img/Quotation-Mark-PNG-Transparent.png" alt="" class="quote">
            <div class="rect1"></div>
            <div class="rect2"></div>
        </div>
        <div class="hero-testimonial">
            <p>"lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."</p>
            <span>
                <div class="profile"><img src="/Assets/img/jpg/card/icons8-team-FcLyt7lW5wg-unsplash.jpg" alt=""></div>
                <div class="name">Waleed Lozano</div>
                <div class="role">Product Designer</div>
            </span>
        </div>
    </div>

</body>
</html>