<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/sass/css/camp.css">
</head>
<body>
     <div class="hero">
         <div class="hero-content">
             <div class="content-header">
                 <h2>START FOR FREE</h2>
                 <h1>Create new account</h1>
             </div>
             <div class="login">
                 <h3>Already A Member?</h3>
                 <a href="#">Log in</a>
             </div>
             <form action="" class="form">
                <div class="name-row">
                    <div class="inp-group name">
                        <label for="firstName">First name</label>
                        <input type="text" name="firstName" id="firstName">
                        <!-- <i class="icon"></i> -->
                    </div>
                    <div class="inp-group name">
                        <label for="lastName">Last name</label>
                        <input type="text" name="lastName" id="lastName">
                        <!-- <i class="icon"></i> -->
                    </div>
                </div>
                <div class="inp-group email">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                    <!-- <i class="icon"></i> -->
                </div>
                <div class="inp-group password">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <!-- <i class="icon"></i> -->
                </div>

                <div class="btn-group"> 
                    <button>Change Method</button>
                    <button>Create Account</button>
                </div>
            </form>
         </div>
     </div>
</body>
</html>