<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/sass/css/darkmode.css">
</head>
<style>
    .logo.badge-sq {
    position: absolute;
    top: 1rem;
    left: 1rem;
        height: 49px;
    width: 49px;
    border-radius: 4px;
}

.logo.badge-sq img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

</style>
<body>
    <div class="hero">
        <div class="logo badge-sq">
                <img src="/Assets/img/png/7e91babcc16ca83f9c888b610d1e9524.png" alt="">
        </div>

        <div class="hero-copy">
            <div class="heading">
                <span>67%</span>
            </div>
            <div class="copy">
                <span>time saved in total compared to projects not using Hub.</span>
            </div>
            <div class="small-copy">
                <span>-fintory.com</span>
            </div>
        </div>
        <div class="design-container">
            <div class="design-thingy"></div>
            <!-- <div class="design-thingy b"></div> -->
            <div class="design-thingy c"></div>
            <div class="design-thingy d"></div>
            <div class="design-thingy e"></div>
            <div class="design-thingy f"></div>
            <div class="design-thingy g"></div>
            <div class="design-thingy h"></div>
            <!-- <div class="design-thingy i"></div> -->
            <!-- <div class="design-thingy j"></div> -->
        </div>
    </div>

<div class="form">
    <div class="heading">
        <div class="title-copy">Set up your Hub account.</div>
        <div class="sub-copy">You have been invited to join Fintory on Hub to start collaborating on Dribble</div>
    </div>

    <form action="">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Password">
        <input type="text" placeholder="Confirm Password">
        <input type="text" placeholder="Company Name">
        <input type="text" placeholder="Role">
        <div class="checkbox">
        <input type="checkbox"><label for="checkbox">I agree with Hub's <a href="#">Terms, Privacy Policy</a> and <a href="#">E-Sign</a> consent</label>
        </div>
        <button type="submit">Continue</button>
    </form>

    <div class="form-footer">
        <span>Already have an account? <a href="#">Sign in</a></span>
    </div>
</div>
</body>
</html>