<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/sass/css/darkGallery.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="menu">Menu</div>
            <div class="logo">ANDY</div>
            <div class="contact">Get in touch</div>
        </div>
        <div class="nav">
            <nav>
                <span>PEOPLE</span>
                <span>PLACES</span>
                <span>THINGS</span>
                <!-- <span>SELF</span> -->
            </nav>
        </div>
        <div class="image-grid">

            <div class="col-1 col">
                <div class="img">
                    <img src="/Assets/img/pf/photo-1652039032023-6b1992299f22.avif" alt="">
                </div>
                <div class="img">
                    <img src="/Assets/img/pf/photo-1652039032115-0aa874f07e11.avif" alt="">
                </div>
            </div>
            <div class="col-2 col">
                <div class="img">
                    <img src="/Assets/img/pf/photo-1652039032692-81ec596ba184.avif" alt="">
                </div>
                <div class="img">
                    <img src="/Assets/img/pf/photo-1652039032696-7f87e45a8f32.avif" alt="">
                </div>
            </div>
            <div class="col-3 col">
                <div class="img">
                    <img src="/Assets/img/pf/photo-1652039033503-0b3d535cd68d.avif" alt="">
                </div>
                <div class="img">
                    <img src="/Assets/img/pf/photo-1652039033512-a902a6bf0a37.avif" alt="">
                </div>
            </div>
            <div class="col-4 col">
                <div class="img">
                    <img src="/Assets/img/pf/photo-1652039033523-e337bcb7fdb9.avif" alt="">
                </div>
                <div class="img">
                    <img src="/Assets/img/pf/photo-1652039033568-3cf7551fa6ce.avif" alt="">
                </div>
            </div>
        </div>
        <div class="footer">
            <span>hi@andrewhardry.com.au</span>
            <span>ANDY!</span>
        </div>
    </div>
</body>
<script>
    // imports the same image? maybe api allows one img per call/ip???
    // document.querySelectorAll('.img')
    //     .forEach(el => el.innerHTML = `<img src='https://source.unsplash.com/random'>`);
    // try fetch?


</script>
</html>