<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/sass/css/kombu.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <!-- 
                fixed nav
                index
                artist
                gallery
                about
                
                kombu

                follow us @kombu
            -->
            <div class="nav-links">
                <span>INDEX</span>
                <span>[ARTIST]</span>
                <span>GALLERY</span>
                <span>ABOUT</span>
            </div>
            <div class="logo">
                <span>Kombu</span>
            </div>
            <div class="contact">
                <span>FOLLOW US @KOMBU</span>
            </div>
        </div>
        <div class="gallery">
            <!-- image set of 3 offset images -->
            <div class="img-set">
                <!-- col 1 -->
                <div class="col1">
                    <div class="img i1">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">
                        <!-- lower 2/3rd -->
                    </div>
                </div>
                <!-- col 2 -->
                <div class="col2">
                    <div class="img i2">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">

                        <!-- row 1 2/3rd -->
                    </div>
                    <div class="img i3">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">

                        <!-- row 2 full -->
                    </div> 
                </div>
            </div>
            <div class="img-set">
                <!-- col 1 -->
                <div class="col1">
                    <div class="img i1">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">
                        <!-- lower 2/3rd -->
                    </div>
                </div>
                <!-- col 2 -->
                <div class="col2">
                    <div class="img i2">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">

                        <!-- row 1 2/3rd -->
                    </div>
                    <div class="img i3">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">

                        <!-- row 2 full -->
                    </div> 
                </div>
            </div>
            <div class="img-set">
                <!-- col 1 -->
                <div class="col1">
                    <div class="img i1">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">
                        <!-- lower 2/3rd -->
                    </div>
                </div>
                <!-- col 2 -->
                <div class="col2">
                    <div class="img i2">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">

                        <!-- row 1 2/3rd -->
                    </div>
                    <div class="img i3">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">

                        <!-- row 2 full -->
                    </div> 
                </div>
            </div>
            <div class="img-set">
                <!-- col 1 -->
                <div class="col1">
                    <div class="img i1">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">
                        <!-- lower 2/3rd -->
                    </div>
                </div>
                <!-- col 2 -->
                <div class="col2">
                    <div class="img i2">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">

                        <!-- row 1 2/3rd -->
                    </div>
                    <div class="img i3">
                        <img src="/Assets/img/jpg/ocean blue/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg" alt="">

                        <!-- row 2 full -->
                    </div> 
                </div>
            </div>
        </div>
        <div class="footer">
            <!-- 
                fixed footer

                ARTIST NAME
                -DATE

                SIDEWAYS SUBTEXT
             -->

             <div class="title">
                 <span class="artist">J. VSPRONCK</span>
                 <span class="date">-AN 1641</span>
             </div>
             <div class="description">
                 <span>PRE-PERIODS-BAROCK/GOLDEN AGE</span>
             </div>
        </div>
    </div>
</body>
</html>