<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Gallery</title>
    <link rel="stylesheet" href="/Assets/sass/css/mobileGallery.css">
</head>
<body>
    <header>
        <!-- Gradient Padding -->
        <div class="heading padding-overlay">
            <div class="menu">
                <!-- burger -->
                burger
            </div>
            <div class="txt">
                <div class="heading-txt">UNFOLD THE</div>
                <div class="sub-heading-txt">BEATUFIL STORIES</div>
            </div>
        </div>
    </header>
    <div class="image-grid">
        <div class="col-1">
            <div class="shader first-shader"></div>
            <div class="img">
                <img src="/Assets/img/jpg/ocean blue/adil-shan-YLFogt8TIFY-unsplash.jpg" alt="">
            </div>
            <div class="img">
                <img src="/Assets/img/jpg/ocean blue/karsten-winegeart-jVT8vo04UT0-unsplash.jpg" alt="">
            </div>
            <div class="img">
                <img src="/Assets/img/jpg/ocean blue/leio-mclaren-iJ09Odj856I-unsplash.jpg" alt="">
            </div>
            <div class="img">
                <img src="/Assets/img/jpg/ocean blue/jeremy-bishop-Q5ZjqF6Wd3k-unsplash.jpg" alt="">
            </div>
            <div class="img">
                <img src="/Assets/img/jpg/ocean blue/sebastien-goldberg-BKLHxgbYFDI-unsplash.jpg" alt="">
            </div>
            <div class="img">
                <img src="/Assets/img/jpg/ocean blue/silas-baisch-LDiZP1yLQxg-unsplash.jpg" alt="">
            </div>
        </div>
        <div class="col-2">
            <div class="shader second-shader"></div>
            <div class="img">
                <img src="/Assets/img/jpg/ocean blue/thomas-yohei-POj4Tv-azPE-unsplash.jpg" alt="">
            </div>
            <div class="img">
                <img src="/Assets/img/jpg/ocean blue/adrien-delforge-yZrhORWUATg-unsplash.jpg" alt="">
            </div>
            <div class="img">
                <img src="/Assets/img/jpg/ocean blue/matthew-ball-7Rkl2xZxmjw-unsplash.jpg" alt="">
            </div>
    
            <div class="img">
                <img src="/Assets/img/jpg/ocean blue/daniel-lincoln-NR705beN_CU-unsplash.jpg" alt="">
            </div>
            <div class="img">
                <img src="/Assets/img/jpg/ocean blue/thomas-yohei-POj4Tv-azPE-unsplash.jpg" alt="">
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="footing">KEEP THE</div>
    <div class="sub-footing">DREAM ALIVE</div>
    <!-- Gradient Padding -->
</footer>
</html>