<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/sass/css/seantuck.css">
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <!-- 
                Name.
                Portraits
                Streets
                Journal
                Inspiration

                My Book
                Shop
                Bio
                Media
                Contact

                [Social Links]
             -->

             <span class="name">Justin Burks.</span>

             <ul class="p-links">
                <li>Portraits</li>
                <li>Streets</li>
                <li>Journal</li>
                <li>Inspiration</li>
             </ul>
             <ul class="s-links">
                 <li>My Book</li>
                 <li>Shop</li>
                 <li>Bio</li>
                 <li>Media</li>
                 <li>Contact</li>
             </ul>
             <ul class="sm-links">
                 <li>yt</li>
                 <li>ig</li>
                 <li>tw</li>
                 <li>fb</li>
             </ul>
        </div>
        <div class="gallery">
            <!-- 
                half page -> 1 column full length
                full page -> 4 column 1/4  
            -->
            <img src="_MG_4631-2.jpg" alt="">
            <img src="_MG_4631-2.jpg" alt="">
            <img src="_MG_4631-2.jpg" alt="">
            <img src="_MG_4631-2.jpg" alt="">
            <img src="_MG_4631-2.jpg" alt="">
            <img src="_MG_4631-2.jpg" alt="">
            <img src="_MG_4631-2.jpg" alt="">
            <img src="_MG_4631-2.jpg" alt="">
        </div>
    </div>
</body>
</html>