<div class="sidebar">
    <!-- 
        Categories w/icon
     -->
     <span class="title" data-category="all" data-layout="sidebar" data-role="title" data-anime="rollup">
         <!-- Text Hidden Close Button -->
        All peices
    </span>
     <ul class="categories">
         <!-- 
            *if list element is selected
                first
                    concurrent
                        ***fadeout every text icon combo
                        ***rotate down arrow on center axis to reveal x
                        ***slide selected components x into place (ifSelectedFromClosedState) || fadeOutDeselected -> fadeInSelected
                                *** slide x up then popup x in title section
                then
                    concurrent
                    ***expandMenu
                        ***ifMenuItem is selected -> filterfade/sort loaded compontents
                    ***fadein sub list ifSelectedFromClosedState || sort sublist        
                then
                    concurrent
                    ***fadein/out titles
                    ***fadein/out components || loaders || messages
         -->
             
         <li>
            <!-- tab/dropdown combo -->
            <!-- text/icon -->
            <!-- dropdown -->
            <span class="txt">Seating</span>
            <span class="icon dropdown" data-role="expandButton"></span>
            <div class="subMenu dropdown">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </li>
         <li>
            <!-- tab/dropdown combo -->
            <!-- text/icon -->
            <!-- dropdown -->
            <span class="txt">Lighting</span>
            <span class="icon dropdown" data-role="expandButton"></span>
            <div class="subMenu dropdown">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </li>
         <li>
            <!-- tab/dropdown combo -->
            <!-- text/icon -->
            <!-- dropdown -->
            <span class="txt">Decor</span>
            <span class="icon dropdown" data-role="expandButton"></span>
            <div class="subMenu dropdown">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </li>
         <li>
            <!-- tab/dropdown combo -->
            <!-- text/icon -->
            <!-- dropdown -->
            <span class="txt">Storage</span>
            <span class="icon dropdown" data-role="expandButton"></span>
            <div class="subMenu dropdown">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </li>
         <li>
            <!-- tab/dropdown combo -->
            <!-- text/icon -->
            <!-- dropdown -->
            <span class="txt">Tables</span>
            <span class="icon dropdown" data-role="expandButton"></span>
            <div class="subMenu dropdown">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </li>
     </ul>
</div> 