<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comp93</title>
    <link rel="stylesheet" href="comp93.css">
</head>
<body>
    <header> 
        Add Shadow Color & Border Color & Background Color Buttons | Add Sort Method | Add Resize method | ReFormat Text Description | Add Get Code Button
    </header>
    <ul>
        <li class="b1">
            xOffset: 0 <br> yOffset: 8 <br> Blur: 24 <br> Spread: 
        </li>
        <li class="b2">
            xOffset: 0 <br> yOffset: 7 <br> Blur: 29 <br> Spread: 
        </li>
        <li class="b3">
            xOffset: 1.95 <br> yOffset: 1.95 <br> Blur: 2.6 <br> Spread: 
        </li>
        <li class="b4">
            xOffset: 0 <br> yOffset: 5 <br> Blur: 15 <br> Spread: 
        </li>
        <li class="b5">
            xOffset: 0 <br> yOffset: 1 <br> Blur: 4 <br> Spread: 
        </li>
        <li class="b6">
            xOffset: 0 <br> yOffset: 3 <br> Blur: 8 <br> Spread: 
        </li>
        <li class="b7">
            xOffset: 0 <br> yOffset: 2 <br> Blur: 8 <br> Spread: 0
        </li>
        <li class="b8">
            xOffset: 0 | 0<br> yOffset: 1 | 0<br> Blur: 4 | 0 <br> Spread: 0 | 3
        </li>
        <li class="b9">
            xOffset: 0 | 0<br> yOffset: 1 | 0<br> Blur: 3 | 0<br> Spread: 0 | 1
        </li>
        <li class="b10">
            xOffset: 0<br> yOffset: 4<br> Blur: 12<br> Spread: 
        </li>
        <li class="b11">
            xOffset: 0  |  0 |  0 |  0 |  0<br> yOffset: 54 | -12 | 4 | 12 | -3<br> Blurrrrr: 55 | 30 | 6 | 12 | 5 <br> Spread: 
        </li>
        <li class="b12">
            xOffset: 0 | 0 <br> yOffset: 6 | 0 <br> Blur: 24 | 0 <br> Spread: 0 | 1
        </li>
        <li class="b13">
            xOffset: 0 | 0<br> yOffset: 10 | 0<br> Blur: 36 | 0<br> Spread: 0 | 1
        </li>
        <li class="b14">
            xOffset: 0 <br> yOffset: 48 <br> Blur: 100 <br> Spread: 0
        </li>
        <li class="b15">
            xOffset: 0 | 0 | i0<br> yOffset: 50 | 30 | i-2<br> Blur: 100 | 60 | i6 <br> Spread: -20 | -30 | i0
        </li>
        <li class="b16">
            xOffset: i0 | 0 | 0 <br> yOffset: i1 | 50 | 30<br> Blur: i1 | 100 | 60 <br> Spread: i0 | -20 | -30
        </li>
        <li class="b17">
            xOffset: 0 | 0- | i0 <br> yOffset: 0 | 4 | i1<br> Blur: 0 | 6 | i0<br> Spread: 2 | 1
        </li>
        <li class="b18">
            xOffset: 0 | 0<br> yOffset: 6 | 3<br> Blur: 12 | 7<br> Spread: -2 | -3
        </li>
        <li class="b19">
            xOffset: 0 | 0<br> yOffset: 13 | 8 <br> Blur: 27 | 16 <br> Spread: -5 | -8
        </li>
        <li class="b20">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b21">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b22">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b23">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b24">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b25">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b26">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b27">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b28">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b29">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b30">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b31">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b32">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b33">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b34">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b35">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b36">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b37">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b38">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b39">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b40">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b41">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b42">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b43">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b44">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b45">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b46">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b47">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b48">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b49">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b50">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b51">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b52">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b53">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b54">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b55">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b56">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b57">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b58">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b59">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b60">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b61">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b62">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b63">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b64">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b65">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b66">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b67">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b68">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b69">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b70">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b71">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b72">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b73">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b74">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b75">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b76">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b77">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b78">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b79">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b80">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b81">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b82">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b83">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b84">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b85">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b86">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b87">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b88">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b89">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b90">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b91">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b92">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <li class="b93">
            xOffset: <br> yOffset: <br> Blur: <br> Spread: 
        </li>
        <br>
        <li class="b94">

        </li>
    </ul>
</body>
</html>