<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comp90</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <ul>
        <li>
            <div class="wrapper">
                <button class="btn1">Dribbble</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn2">New</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn3">Exlore free apps</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn4">Sketch</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn5">Sketch2</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn6">StackOverflow</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn7">Overflow2</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn8">Stripe</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn9">Big Sur</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn10">macOS</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn11">macOSX</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn12">Amazon</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn13">Amazon</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn14">Apple</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn15">Google</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn16">Google Suite</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn17">LinkedIn</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn18">Nomad</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn19">btn-lg</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn20">Button</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn21">Subtle Warp</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn22">Got Game?</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn23">Got Shadow?</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn24">Meh.</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn25">Clicky</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn26">
                    <span>Now You See Me</span>
                    <span>Now You Don't</span>
                </button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn27">Clicky!</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn28">Clicky :)</button>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <button class="btn29">
                    <span class="btn29-shadow"></span>
                    <span class="btn29-3dEdge"></span>
                    <span class="btn29-face text">Clicky XD</span>
                </button>
            </div>
        </li>
    </ul>
</body>
</html>