<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/sass/css/eightco.css">
</head>
<body>
    <div class="wrapper ep">
        <div class="box b1"></div>
        <div class="box b2"></div>
        <div class="box b3"></div>
        <div class="box b4"></div>
        <div class="box b5"></div>
        <div class="box b6"></div>
        <div class="box b7"></div>
        <div class="box b8"></div>
    </div>
    <div class="wrapper tp fluid">
        <div class="box b1"></div>
        <div class="box b2"></div>
        <div class="box b3"></div>
        <div class="box b4"></div>
        <div class="box b5"></div>
        <div class="box b6"></div>
        <div class="box b7"></div>
        <div class="box b8"></div>
        <div class="box b9"></div>
        <div class="box b10"></div>
        <div class="box b11"></div>
        <div class="box b12"></div>
    </div>
    <div class="wrapper mobile fluid">
        <div class="box b1"></div>
        <div class="box b2"></div>
        <div class="box b3"></div>
        <div class="box b4"></div>
        <div class="box b5"></div>
        <div class="box b6"></div>
    </div>
    <div class="wrapper mobile fluid tuple">
                <div class="box b1"></div>
        <div class="box b2"></div>
    </div>
    <script>

    //     const wrappers = [...document.querySelectorAll('.wrapper')];
    //     const columns = [...document.querySelectorAll('.box')];

    //     function appendMultipleElements(numberofElements, parentEl, options = ['div','box']) {
    //         for (let i = 0; i <= numberofElements; i++) {
    //             let newElement = createNewElement(`${options[0]}`,`${options[1]}`);
    //             parentEl.appendChild(newElement);
    //         }
    //          return parentEl;
    //     }
        
    //     function createNewElement(type = 'div', cls = false, classlist = []) {
    //         const element = document.createElement(`${type}`);
    //         if (cls) {
    //             element.classList.add(`${cls}`);
    //             // or throw error
    //         }
    //         if (classlist.length > 0) {
    //             element.classList.add(...classlist);
    //             // or throw error
    //         }
    //         return element;
    //     }

    //      function appendMultipleElementsToMultipleElements (list, numberofElements) {
    //          list.forEach(el => appendMultipleElements(numberofElements,el));
    //      }
    
    //      appendMultipleElementsToMultipleElements(columns,115);
    // </script>
</body>
</html>