<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Assets/sass/css/darktheme-content.css">
</head>
<body>
    <div class="darkTheme-nav">
        <div class="navbar-container">
            <nav>
                <div class="nav-logo">
                    <img src="/Assets/img/png/f4479b3fc90616017f15bcac76e1d7ad(1).png" alt="">
                </div>
                
                <ul class="nav-links">
                    <li class="nav-item">
                        <a href="" class="list-link">Workspaces</a>
                        <div class="btn-float-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><g id="_01_align_center" data-name="01 align center"><path d="M22.586,18.148,12.707,8.269a1.021,1.021,0,0,0-1.414,0L1.42,18.142.006,16.728,9.879,6.855a3.073,3.073,0,0,1,4.243,0L24,16.734Z" fill="currentColor"/></g></svg></div>
                        <div class="dark-dropdown">
                            <div class="list-link-li"><div class="li-icon">F</div>Fintory</div>
                            <div class="list-link-li"><div class="li-icon">G</div>Gamebreaker</div>
                            <div class="list-link-li"><div class="li-icon">P</div>Puppy Gmb</div>
                            <div class="divider">
                                <hr>
                            </div>
                            <div class="button">Create Workspace</div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="" class="list-link">User Management</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="list-link">Analytics</a>
                    </li>
                    <li class="nav-item button">
                        <a href="" class="list-link">Create</a>
                    </li>
                </ul>

                <div class="searchBar">
                    <div class="search-icon"></div>
                    <input type="text">
                </div>

                <div class="toolbar">
                    <div class="notification"></div>
                    <div class="settings"></div>
                    <div class="profile"></div>
                </div>
            </nav>
        </div>
    </div>
    <div class="wrapper main">
        <div class="main-heading">
            <h2>Dashboard</h2>
        </div>
        <div class="divider">
            <hr>
        </div>
        <div class="metrics-heading">Your Performance</div>
        <div class="bg-card main-heading-card">

            <div class="heading-card-metrics">
                <div class="metric">
                    <div class="title">High risk items <div class="info-icon">?</div></div>
                    <div class="num">1,214</div>
                </div>
            </div>
            <div class="heading-card-metrics">
                <div class="metric">
                    <div class="title">Medium risk items <div class="info-icon">?</div></div>
                    <div class="num">294</div>
                </div>
            </div>
            <div class="heading-card-metrics">
                <div class="metric">
                    <div class="title">Low risk items <div class="info-icon">?</div></div>
                    <div class="num">896</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>