<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/sass/css/lightTheme.css">
</head>
<body>
    <div class="wrapper seen">
    <div class="banner-blue">
        <div class="banner-title">
            <span class="banner-notification-icon">New</span>
            <span class="banner-desc">We are excited to introduce our new notification features</span>
        </div>
        <span class="banner-backlink">Learn More</span>
    </div>
    <div class="navbar-light">
        <nav>
            <div class="logo">Cloud Station</div>
            <ul class='nav-links-light'>
                <li class="list-link-light"><a href="">Product</a><div class="border"></div></li>
                <li class="list-link-light features"><a href="">Features</a>
                    <div class="btn-float-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><g id="_01_align_center" data-name="01 align center"><path d="M22.586,18.148,12.707,8.269a1.021,1.021,0,0,0-1.414,0L1.42,18.142.006,16.728,9.879,6.855a3.073,3.073,0,0,1,4.243,0L24,16.734Z" fill="currentColor"/></g></svg></div>
                    
                    <div class="hover-light">

                        <div class="hover-light-header">
                            Features
                        </div>

                        <div class="hover-light-links">
                            <div class="col col-1">
                                <div class="row">
                                    <div class="row-icon"></div>
                                    <div class="row-text">
                                    <div class="row-title">
                                        Notifications
                                    </div>
                                    <div class="row-desc">
                                        Real time notifications always keep you up to date
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="row-icon"></div>
                                    <div class="row-text">
                                    <div class="row-title">
                                        Analytics
                                    </div>
                                    <div class="row-desc">
                                        Analyze your data to make more informed business decisions
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-icon"></div>
                                    <div class="row-text">
                                    <div class="row-title">
                                        Intergrations
                                    </div>
                                    <div class="row-desc">
                                        Get started by taking advatage of intergrations with other services
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-2">
                                <div class="row">
                                    <div class="row-icon"></div>
                                    <div class="row-text">
                                    <div class="row-title">
                                        Documentation
                                    </div>
                                    <div class="row-desc">
                                        Comprehensive documentations will help you so you can get started right away
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-icon"></div>
                                    <div class="row-text">
                                    <div class="row-title">
                                        Security
                                    </div>
                                    <div class="row-desc">
                                        To ensure privacy, all information is encrypted and secure
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-icon"></div>
                                    <div class="row-text">
                                    <div class="row-title">
                                        Support
                                    </div>
                                    <div class="row-desc">
                                        Need help? Our customer support is there to help you
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hover-light-footer">
                            <div class="footer-text">
                                <div class="footer-text-title">Pricing</div>
                                <div class="footer-text-desc">Learn more about our pricing model and get started with your business</div>
                            </div>
                            <div class="footer-button">
                                Learn More
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-link-light"><a href="">Pricing</a><div class="border"></div></li>
                <li class="list-link-light"><a href="">Support</a><div class="border"></div></li>
            </ul>
            <div class="tools">
                <span>Log in</span>
                <span>Sign up</span>
            </div>
        </nav>
    </div>
    </div>
</body>
</html>