<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/sass/css/messenger.css">
</head>
<body>
    <div class="messenger-header">
        <div class="home-logo">
            <img src="/Assets/img/png/7e91babcc16ca83f9c888b610d1e9524.png" alt="" style="border-radius: 6px;">
        </div>
        <div class="search-bar">
            <div class="search-logo">
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><g id="_01_align_center" data-name="01 align center"><path d="M24,22.586l-6.262-6.262a10.016,10.016,0,1,0-1.414,1.414L22.586,24ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z"></path></g></svg>

            </div>
            <input type="text" placeholder="Search">
            <div class="filter">
                <!-- svg -->
                <!-- input || placeholder -->
                Advanced
                <div class="dropdown-icon">
                    <!-- svg -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" style="transform: rotate(90deg);"><g><path d="M7.412,24,6,22.588l9.881-9.881a1,1,0,0,0,0-1.414L6.017,1.431,7.431.017l9.862,9.862a3,3,0,0,1,0,4.242Z" fill="currentColor"></path></g></svg>
                </div>
            </div>
        </div>
        <div class="messenger-tools">
            <div class="bookmarks">
                <!-- svg -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 507.447 507.447" xml:space="preserve" style="enable-background:new 0 0 507.447 507.447;height: 16px;width: 16px">
                    <g>
                        <g>
                            <path d="M96.877,0v507.447l156.846-168.091L410.57,507.447V0H96.877z M390.877,457.476L253.724,310.49L116.57,457.476V19.692    h274.308V457.476z"/>
                        </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    </svg>
            </div>
            <div class="boost">
                <!-- svg -->
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path d="M18,7a1,1,0,1,1-1-1A1,1,0,0,1,18,7ZM14,9a1,1,0,1,0,1,1A1,1,0,0,0,14,9Zm-3,3a1,1,0,1,0,1,1A1,1,0,0,0,11,12ZM23.352.648a2.189,2.189,0,0,1,.514,2.31l-.075.211C22.289,7.337,20.848,11.3,18,14.82V15a11.057,11.057,0,0,1-4.4,8.8l-.268.2H9V20.414l-2-2L4.707,20.707,3.293,19.293,5.586,17l-2-2H0V10.44l.2-.266A10.81,10.81,0,0,1,9,6h.18C12.7,3.153,16.66,1.712,20.826.211l.216-.077A2.189,2.189,0,0,1,23.352.648ZM2,13H3.419A31.578,31.578,0,0,1,6.8,8.243,8.493,8.493,0,0,0,2,11.118Zm13.7,4.254A31.718,31.718,0,0,1,11,20.581V22h1.657A9.052,9.052,0,0,0,15.7,17.254ZM21.937,2.063a.191.191,0,0,0-.217-.048l-.215.078C16.661,3.838,12.478,5.346,8.876,8.947A26.984,26.984,0,0,0,5.25,13.835l4.915,4.916a27.067,27.067,0,0,0,4.888-3.627c3.6-3.6,5.11-7.787,6.856-12.633l.076-.211A.192.192,0,0,0,21.937,2.063Z"></path></svg>
            </div>
            <div class="notifications">
                <!-- svg -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><g><path d="M23.259,16.2l-2.6-9.371A9.321,9.321,0,0,0,2.576,7.3L.565,16.35A3,3,0,0,0,3.493,20H7.1a5,5,0,0,0,9.8,0h3.47a3,3,0,0,0,2.89-3.8ZM12,22a3,3,0,0,1-2.816-2h5.632A3,3,0,0,1,12,22Zm9.165-4.395a.993.993,0,0,1-.8.395H3.493a1,1,0,0,1-.976-1.217l2.011-9.05a7.321,7.321,0,0,1,14.2-.372l2.6,9.371A.993.993,0,0,1,21.165,17.605Z" fill="currentColor"></path></g></svg>
                <div class="new"></div>
                <div class="notifications-dropdown">
                    <div class="header">
                        <div class="header-head">
                        <div class="dropdown-title">Notifications</div>
                        <!-- on click show || activate search input -->
                        <!-- filters (go through each while input is active and return results as a sectioned list)
                                name :  team | team-member
                                type of notification : [update | submission | mention | message | attatchment-name ]
                                subject: [project-title | message-body]

                            clear results if dropdown looses focus or clear button is clicked
                        -->
                        <div class="reset">Mark all as read</div>
                    </div>
                        <!-- on search -->
                        <!-- <div class="reset-search">clear <div class="settings-icon"></div></div> -->
                        <div class="notification-tabs">
                            <div class="tab">
                                All
                                <div class="new">8</div>
                            </div>
                            <div class="tab">
                                Following
                                <div class="new">6</div>
                            </div>
                            <div class="tab">
                                Archive
                            </div>
                            <div class="settings">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 16 16" enable-background="new 0 0 16 16" height="16px" widt="16px" xml:space="preserve">
<g id="Layer_1">
</g>
<g id="Layer_101">
</g>
<g id="Layer_100">
</g>
<g id="Layer_99">
</g>
<g id="Layer_98">
</g>
<g id="Layer_97">
</g>
<g id="Layer_96">
</g>
<g id="Layer_95">
</g>
<g id="Layer_94">
</g>
<g id="Layer_93">
</g>
<g id="Layer_92">
</g>
<g id="Layer_91">
</g>
<g id="Layer_90">
</g>
<g id="Layer_89">
</g>
<g id="Layer_88">
</g>
<g id="Layer_87">
</g>
<g id="Layer_86">
</g>
<g id="Layer_85">
</g>
<g id="Layer_84">
</g>
<g id="Layer_83">
</g>
<g id="Layer_82">
</g>
<g id="Layer_81">
</g>
<g id="Layer_80">
</g>
<g id="Layer_79">
</g>
<g id="Layer_78">
</g>
<g id="Layer_77">
</g>
<g id="Layer_76">
</g>
<g id="Layer_75">
</g>
<g id="Layer_74">
</g>
<g id="Layer_73">
</g>
<g id="Layer_72">
</g>
<g id="Layer_71">
</g>
<g id="Layer_70">
</g>
<g id="Layer_69">
</g>
<g id="Layer_68">
</g>
<g id="Layer_67">
</g>
<g id="Layer_66">
</g>
<g id="Layer_65">
</g>
<g id="Layer_64">
</g>
<g id="Layer_63">
</g>
<g id="Layer_62">
</g>
<g id="Layer_61">
</g>
<g id="Layer_60">
</g>
<g id="Layer_59">
</g>
<g id="Layer_58">
</g>
<g id="Layer_57">
</g>
<g id="Layer_56">
</g>
<g id="Layer_55">
</g>
<g id="Layer_54">
</g>
<g id="Layer_53">
	<g id="XMLID_2211_">
		<path fill="#3F3F3F" d="M15,6h-1.45c-0.088,0-0.194-0.441-0.319-0.69l1.027-0.99c0.159-0.159,0.249-0.357,0.249-0.583
			c0-0.225-0.09-0.432-0.249-0.591l-1.414-1.409c-0.166-0.166-0.384-0.247-0.602-0.247c-0.217,0-0.435,0.084-0.601,0.25L10.69,2.769
			C10.441,2.644,10,2.538,10,2.45V1c0-0.47-0.53-1-1-1H7C6.53,0,6,0.53,6,1v1.45c0,0.088-0.441,0.194-0.69,0.319l-0.99-1.027
			C4.155,1.576,3.956,1.493,3.739,1.493c-0.218,0-0.426,0.083-0.592,0.249L1.737,3.156c-0.159,0.159-0.247,0.376-0.247,0.6
			c0,0.226,0.091,0.442,0.25,0.602L2.769,5.31C2.644,5.559,2.538,6,2.45,6H1C0.53,6,0,6.53,0,7v2c0,0.47,0.53,1,1,1h1.45
			c0.088,0,0.194,0.441,0.319,0.689l-1.027,0.99c-0.332,0.332-0.332,0.851,0,1.183l1.414,1.405c0.166,0.166,0.384,0.244,0.602,0.244
			c0.217,0,0.435-0.085,0.601-0.251l0.952-1.029C5.559,13.357,6,13.462,6,13.55V15c0,0.47,0.53,1,1,1h2c0.47,0,1-0.53,1-1v-1.45
			c0-0.088,0.441-0.194,0.69-0.319l0.99,1.027c0.166,0.166,0.365,0.249,0.582,0.249c0.218,0,0.426-0.083,0.592-0.249l1.409-1.414
			c0.332-0.332,0.33-0.87-0.002-1.202l-1.029-0.952C13.357,10.441,13.462,10,13.55,10H15c0.47,0,1-0.53,1-1V7C16,6.53,15.47,6,15,6z
			 M8,10.925c-1.613,0-2.925-1.312-2.925-2.925c0-1.613,1.312-2.925,2.925-2.925S10.925,6.387,10.925,8
			C10.925,9.613,9.613,10.925,8,10.925z"/>
	</g>
</g>
<g id="Layer_52">
</g>
<g id="Layer_51">
</g>
<g id="Layer_50">
</g>
<g id="Layer_49">
</g>
<g id="Layer_48">
</g>
<g id="Layer_47">
</g>
<g id="Layer_46">
</g>
<g id="Layer_45">
</g>
<g id="Layer_44">
</g>
<g id="Layer_43">
</g>
<g id="Layer_42">
</g>
<g id="Layer_41">
</g>
<g id="Layer_40">
</g>
<g id="Layer_39">
</g>
<g id="Layer_38">
</g>
<g id="Layer_37">
</g>
<g id="Layer_36">
</g>
<g id="Layer_35">
</g>
<g id="Layer_34">
</g>
<g id="Layer_33">
</g>
<g id="Layer_32">
</g>
<g id="Layer_31">
</g>
<g id="Layer_30">
</g>
<g id="Layer_29">
</g>
<g id="Layer_28">
</g>
<g id="Layer_27">
</g>
<g id="Layer_26">
</g>
<g id="Layer_25">
</g>
<g id="Layer_24">
</g>
<g id="Layer_23">
</g>
<g id="Layer_22">
</g>
<g id="Layer_21">
</g>
<g id="Layer_20">
</g>
<g id="Layer_19">
</g>
<g id="Layer_18">
</g>
<g id="Layer_17">
</g>
<g id="Layer_16">
</g>
<g id="Layer_15">
</g>
<g id="Layer_14">
</g>
<g id="Layer_13">
</g>
<g id="Layer_12">
</g>
<g id="Layer_11">
</g>
<g id="Layer_10">
</g>
<g id="Layer_9">
</g>
<g id="Layer_8">
</g>
<g id="Layer_7">
</g>
<g id="Layer_6">
</g>
<g id="Layer_5">
</g>
<g id="Layer_4">
</g>
<g id="Layer_3">
</g>
<g id="Layer_2">
</g>
                                </svg>
                            </div>
                        </div>
                    </div>


                    <div class="notifications-list">
                        <ul>
                            <!-- for a better complexity display column reverse
                                    Javascript can push new post to end of array easily and just display the li's in reverse to update or refresh  -->
                            <!-- for removing new post push them to archive and while hidden create a new array ordered by date also store (read on date)  so effectively (sent mm/dd/yy -- read x (hours/days/months/minutes) ago )-->
                            <li class="post"><div class="content">post</div></li>
                            <li class="post"><div class="content">post</div></li>
                            <li class="post"><div class="content">post</div></li>
                            <li class="post"><div class="content">post</div></li>
                            <li class="post"><div class="content">post</div></li>
                        </ul>
                    </div>
                    
                </div>

            </div>
            <div class="profile">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 16 16" height="20px" width="20px" enable-background="new 0 0 16 16" xml:space="preserve">
<g id="Layer_1">
</g>
<g id="Layer_101">
</g>
<g id="Layer_100">
</g>
<g id="Layer_99">
</g>
<g id="Layer_98">
</g>
<g id="Layer_97">
</g>
<g id="Layer_96">
</g>
<g id="Layer_95">
</g>
<g id="Layer_94">
</g>
<g id="Layer_93">
</g>
<g id="Layer_92">
</g>
<g id="Layer_91">
</g>
<g id="Layer_90">
</g>
<g id="Layer_89">
</g>
<g id="Layer_88">
</g>
<g id="Layer_87">
    <g id="XMLID_1616_">
        <circle fill="#3F3F3F" cx="4.5" cy="4.5" r="3.5"/>
    </g>
    <g id="XMLID_1646_">
        <circle fill="#3F3F3F" cx="11.5" cy="4.5" r="2.5"/>
    </g>
    <g id="XMLID_1647_">
        <path fill="#3F3F3F" d="M9,15H0v-2c0-2.209,1.791-4,4-4h1c2.209,0,4,1.791,4,4V15z"/>
    </g>
    <g id="XMLID_1223_">
        <path fill="#3F3F3F" d="M16,13.972H8V12c0-2.209,1.791-4,4-4l0,0c2.209,0,4,1.791,4,4V13.972z"/>
    </g>
</g>
<g id="Layer_86">
</g>
<g id="Layer_85">
</g>
<g id="Layer_84">
</g>
<g id="Layer_83">
</g>
<g id="Layer_82">
</g>
<g id="Layer_81">
</g>
<g id="Layer_80">
</g>
<g id="Layer_79">
</g>
<g id="Layer_78">
</g>
<g id="Layer_77">
</g>
<g id="Layer_76">
</g>
<g id="Layer_75">
</g>
<g id="Layer_74">
</g>
<g id="Layer_73">
</g>
<g id="Layer_72">
</g>
<g id="Layer_71">
</g>
<g id="Layer_70">
</g>
<g id="Layer_69">
</g>
<g id="Layer_68">
</g>
<g id="Layer_67">
</g>
<g id="Layer_66">
</g>
<g id="Layer_65">
</g>
<g id="Layer_64">
</g>
<g id="Layer_63">
</g>
<g id="Layer_62">
</g>
<g id="Layer_61">
</g>
<g id="Layer_60">
</g>
<g id="Layer_59">
</g>
<g id="Layer_58">
</g>
<g id="Layer_57">
</g>
<g id="Layer_56">
</g>
<g id="Layer_55">
</g>
<g id="Layer_54">
</g>
<g id="Layer_53">
</g>
<g id="Layer_52">
</g>
<g id="Layer_51">
</g>
<g id="Layer_50">
</g>
<g id="Layer_49">
</g>
<g id="Layer_48">
</g>
<g id="Layer_47">
</g>
<g id="Layer_46">
</g>
<g id="Layer_45">
</g>
<g id="Layer_44">
</g>
<g id="Layer_43">
</g>
<g id="Layer_42">
</g>
<g id="Layer_41">
</g>
<g id="Layer_40">
</g>
<g id="Layer_39">
</g>
<g id="Layer_38">
</g>
<g id="Layer_37">
</g>
<g id="Layer_36">
</g>
<g id="Layer_35">
</g>
<g id="Layer_34">
</g>
<g id="Layer_33">
</g>
<g id="Layer_32">
</g>
<g id="Layer_31">
</g>
<g id="Layer_30">
</g>
<g id="Layer_29">
</g>
<g id="Layer_28">
</g>
<g id="Layer_27">
</g>
<g id="Layer_26">
</g>
<g id="Layer_25">
</g>
<g id="Layer_24">
</g>
<g id="Layer_23">
</g>
<g id="Layer_22">
</g>
<g id="Layer_21">
</g>
<g id="Layer_20">
</g>
<g id="Layer_19">
</g>
<g id="Layer_18">
</g>
<g id="Layer_17">
</g>
<g id="Layer_16">
</g>
<g id="Layer_15">
</g>
<g id="Layer_14">
</g>
<g id="Layer_13">
</g>
<g id="Layer_12">
</g>
<g id="Layer_11">
</g>
<g id="Layer_10">
</g>
<g id="Layer_9">
</g>
<g id="Layer_8">
</g>
<g id="Layer_7">
</g>
<g id="Layer_6">
</g>
<g id="Layer_5">
</g>
<g id="Layer_4">
</g>
<g id="Layer_3">
</g>
<g id="Layer_2">
</g>
                </svg>

            </div>
        </div>
    </div>

    <!-- Tab serves as divider -->
    <div class="tabs">
        <div class="tab">Draft</div>
        <!-- .active ::after underline --- display page -->
        <!-- while display none javascript fetches data somehow and updates ui -->
        <!-- while active websocket listens for notification & for active users to comunicate with -->
        <div class="tab">Preview</div>
        <!-- incorporate lazy loading animations until data is recieved 
                on error display image (uhoh - something went wrong)-->
    </div>
    <!-- during session retrieve data from cache
            when section is closed or at interval 
                send session data to db?
                                                    -->
</body>
</html>