<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Assets/sass/css/signup.css">
</head>
<body>
    <div class="form">
        <div class="exit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="18px" width="18px" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
        </div>
        <div class="form-header">
            <div class="head">
                <img src="/Assets/img/png/contract.png" alt="">
                <span>Sign Up</span>
            </div>
            <div class="txt">
                Become a member -- you'll enjoy exclusive deals, offers, invites and rewards.
            </div>
        </div>
        <form action="">

            <div class="mail">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>

            <div class="pass">
                <label for="password">Create a password</label>
                <input type="text"  name="password" id="password">
                <div class="progress-bar">
                    <div class="stage">&nbsp;</div>
                    <div class="stage">&nbsp;</div>
                    <div class="stage">&nbsp;</div>
                    <div class="stage">&nbsp;</div>
                </div>
            </div>

            <div class="birthday">
                <label for="dob">Date of birth</label>
                <input type="text" name="dob" id="dob" placeholder="MM/DD/YYYY">
                <span class="newsLetter-desc">We want to give you a special treat on your birthday</span>
            </div>

            <div class="sub">
                <input type="checkbox" name="newsLetter" id="newsLetter">
                <label for="newsLetter">Subscribe to newsletter</label>
            </div>

            <input type="submit" class="btn" value="Become a member">

        </form>
        <div class="form-footer"><span>Already have an account?</span><a href="#">Log In</a></div>
    </div>
</body>
</html>